@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    <div class="text-center">
        <h1 class="display-4">Welcome To Green Garden</h1>

    </div>

    <div style="text-align: center; padding: 10px 0px 0px 10px;">

        <img width="1200" src="https://cdn.britannica.com/42/91642-050-332E5C66/Keukenhof-Gardens-Lisse-Netherlands.jpg" alt="garden image">

    </div>



    <div class="d-grid gap-2 col-6 mx-auto" style=" padding: 10px 0px 0px 10px;">
        @if (!User.Identity.IsAuthenticated)
        {

            <a button class="btn btn-primary" asp-area="" asp-page="/Register">Register</a>

        }
        @if (!User.Identity.IsAuthenticated)
        {

            <a button class="btn btn-warning" asp-area="" asp-page="/Login">Login</a>

        }
    </div>

}



