@page
@model GreenGardens.Pages.LogoutModel
@{
    ViewData["Title"] = "Logout";
}
           {
                            <form method="get" asp-page="/Logout">
                                <button type="submit">Logout</button>
                            </form>
                        }