@page
@model GreenGardens.Pages.RedeemModel
@{
    ViewData["Title"] = "Explore Rewards";
}
<h1>Explore Rewards Based on Loyalty Points Gathered</h1>
<br />
<br />

<h2>How to Redeem:</h2>
<p>1.Login: Ensure you're logged into your account on our website.</p>
<p>2.Explore Rewards: Browse through the rewards catalogue above and select the reward you desire.</p>
<p>3.Redeem Points: Click the "Redeem" button next to the reward you wish to claim.</p>
<p>4.Confirmation: Follow the on-screen prompts to confirm your redemption.</p>
<p>5.Enjoy Your Reward: Once redeemed, indulge in your exclusive gardening reward and enhance your gardening journey!</p>



<br />
<br />

<h2>Rewards Catalogue</h2>
<br />

<h3>1. Seed Packet Bundle</h3>
<p>Description: Expand your garden with a bundle of premium seed packets.</p>
<p>Points Required: 150 points</p>
<p>Redemption Instructions: Click the "Redeem" button below to select your preferred seed packet bundle.</p>
<button class="btn btn-primary">Redeem</button>

<br />
<br />

<h3>2. Garden Tool Set</h3>
<p>Description: Equip yourself with essential gardening tools for your next planting season..</p>
<p>Points Required: 200 points</p>
<p>Redemption Instructions: Redeem your points and receive a high-quality garden tool set delivered to your doorstep.</p>
<button class="btn btn-primary">Redeem</button>

<br />
<br />
<h3>3. Exclusive Plant Varieties</h3>
<p>Description: Access exclusive plant varieties not available in stores.</p>
<p>Points Required: 100 points</p>
<p>Redemption Instructions: Click "Redeem" to unlock access to our exclusive plant selection.</p>
<button class="btn btn-primary">Redeem</button>

<br />
<br />
<h3>4. Gardening Workshop Pass</h3>
<p>Description: Attend a specialized gardening workshop hosted by industry experts.</p>
<p>Points Required: 250 points</p>
<p>Redemption Instructions: Redeem your points to receive a pass to our upcoming gardening workshop.</p>
<button class="btn btn-primary">Redeem</button>

<br />
<br />
<h3>5. Garden Décor Voucher</h3>
<p>Description: Spruce up your garden with decorative items using a voucher..</p>
<p>Points Required:75 points</p>
<p>Redemption Instructions: Redeem your points to receive a voucher towards garden décor purchases.</p>
<button class="btn btn-primary">Redeem</button>


<br />
<br />
<br />
<br />